{% extends 'base.html' %}

{% load static %}
{% block css %}
<style>

</style>
{% endblock %}
{% block content%}
{% csrf_token %}

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">

      <div class="carousel-item active">
          <img src="{% static '/media/images/bg1.jpg'  %}" class="d-block w-100" alt="...">
      </div>
            
      <div class="carousel-item">
          <img src="{% static '/media/images/bg2.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg3.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg4.jpg' %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg5.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg6.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg7.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg8.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg9.jpg'  %}" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
          <img src="{% static '/media/images/bg10.jpg' %}" class="d-block w-100" alt="...">
      </div>


    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}